h2 = t("evacuee.helpful_advises.title")
p = t("evacuee.helpful_advises.lead")


- items = { "transportation" => t("evacuee.helpful_advises.transportation.menu"),
   "psychological_help"      => t("evacuee.helpful_advises.psychological_help.menu"),
   "mobile"                  => t("evacuee.helpful_advises.mobile.menu"),
   "payphone"                => t("evacuee.helpful_advises.payphone.menu"),
   "summer_heat"             => t("evacuee.helpful_advises.summer_heat.menu"),
   "dozvillya"               => t("evacuee.helpful_advises.dozvillya.menu"),
   "babysitting"             => t("evacuee.helpful_advises.babysitting.menu"),
   "uk-books"               => "Книжки українською мовою",
   "tk_free_tickets"         => t("evacuee.helpful_advises.free_tickets_tokyo.menu"),
   "barber_nexus"            => t("evacuee.helpful_advises.barber_nexus.menu"),
   "metro_day_ticket"        => t("evacuee.helpful_advises.metro_day_ticket.menu"),
  }

- items.keys.sort.each do |file|
  =<> link_to items[file], "helpful_advises/"+file+".html", class:  "btn btn-success btn-wrap btn-margin"
