h3 = t("evacuee.medicine.menu")


- items = { "medical/forms" => "Медичні форми та переклад",
            'medical/consultations' => "Медичні консультації",
            "medical/hospitals" => "Пошук лікарень",
            "medical/for_mums" => "Для майбутніх мам",
            "medical/covid-19" => "Ковід 19",
            "helpful_advises/vaccination" => t("evacuee.helpful_advises.vaccination.menu"),
            "medical/for-children" => "Медицина для дітей",
            "medical/over-the-counter" => "Безрецептурні ліки",
  }

- items.keys.sort.each do |file|
  =<> link_to items[file], file+".html", class:  "btn btn-success btn-wrap", style: "margin-bottom: 5px"
