h3 = t("evacuee.regions.menu")

p = t("evacuee.regions.lead")


- regions = { "evacuee/regions/tokyo"           => "Токіо",
  "evacuee/regions/yokohama"        => "Йокогама",
  "evacuee/regions/osaka"           => "Осака",
  "evacuee/regions/saitama"         => "преф. Сайтама",
  "evacuee/regions/aichi"           => "преф. Aїчі",
  "evacuee/regions/alljapan"        => "По всій Японії",
  "evacuee/regions/izumisano"       => "М. Ізумісано, преф. Осака",
  "evacuee/regions/chiba"           => "М. Чіба",
  'evacuee/regions/funabashi'       => "М. Фунабаші (преф. Чіба)",
  "support-r"                       => "Центр допомоги Support-R",
  "evacuee/regions/hyugo"           => "преф. Хього",
}

- regions.keys.sort.each do |file|
  =<> link_to regions[file], file+".html", class:  "btn btn-success btn-wrap", style: "margin-bottom: 5px"
