
h2 = t("evacuee.seminars.title")
p = t("evacuee.seminars.lead")

= link_to t("evacuee.seminars.menu.menu"), "seminars.html", class: "btn btn-primary btn-lg btn-wrap btn-margin"
= link_to "Онлайн Йога", "yoga.html", class: "btn btn-primary btn-lg btn-wrap btn-margin"

