
h2 = t("evacuee.documents.title")

= link_to t("evacuee.documents.visa")                , "visa.html", class: "btn btn-success btn-wrap btn-margin "
= link_to t("evacuee.documents.id_displaced_person") , "id_displaced_person.html", class: "btn btn-success btn-wrap btn-margin"
= link_to t("evacuee.documents.insurance") , "hoken.html", class: "btn btn-success btn-wrap btn-margin"
= link_to t("evacuee.documents.anketa") , "anketa.html", class: "btn btn-success btn-wrap btn-margin"
= link_to "Посольство Японії в Україні", "evacuee/embassy-of-japan-in-ukraine.html", class: "btn btn-success btn-wrap btn-margin"
