@import 'common';
@import 'header';
@import 'sections';
@import 'footer';

li.plain {
    list-style-type: none;
    font-weight: normal;
}

// Override
/* #site-header > div > p:nth-child(4) */

#site-header {
    p {
        text-transform: none;
    }
}

// #site-nav > div > div.navbar-header > div > a

#site-nav {
    .navbar-header {
        a  {
            text-transform: none;
        }
    }
}

#news {
  padding-top: 0px;
  h1, h2 {
    &.section-title {
      margin-top: 30px;
      text-transform: inherit;
      letter-spacing: inherit;
    }
    $title_color: #000;
    .published_on {
      display: block;
      color: $title_color;
      padding-top: 20px;
      font-size: 0.5em;
      color: lighten($title_color, 50%);
      .date {
      }
    }
  }
  .summary {
    display: block;
    text-align: justify;
  }
}

.site-header, .section {
  padding-top: 200px;
}
.intro {
  .btn-white {
    margin: 20px;
    padding: 20px 40px;
    @media (max-width: 600px) {
      display: block;
    }
  }
}

img.main {
    padding: 20px;
    float: left;
    width: 30%;
}



.dropdown {
  display: inline-block;
  position: relative;
  font-color: #fff;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color: #aaaaaa;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #bbbbbb;
}
