@import 'common';
@import 'header';
@import 'sections';
@import 'footer';

li.plain {
    list-style-type: none;
    font-weight: normal;
}

// Override
/* #site-header > div > p:nth-child(4) */

#site-header {
    p {
        text-transform: none;
    }
}

// #site-nav > div > div.navbar-header > div > a

#site-nav {
    .navbar-header {
        a  {
            text-transform: none;
        }
    }
}

#news {
  h1, h2 {
    &.section-title {
      margin-top: 30px;
    }
    $title_color: #000;
    .published_on {
      display: block;
      color: $title_color;
      padding-top: 20px;
      font-size: 0.5em;
      color: lighten($title_color, 50%);
      .date {
      }
    }
  }
  .summary {
    display: block;
    text-align: justify;
  }
}
