@import 'common';
@import 'header';
@import 'sections';
@import 'footer';

li.plain {
    list-style-type: none;
    font-weight: normal;
}

hr, hr.thicker {

  height:1px;
  color:#ccc;
  background-color:#ccc
}

// Override
/* #site-header > div > p:nth-child(4) */

#site-header {
  p { text-transform: none; }
}

#site-nav {
  .navbar-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    a {text-transform: none; }
  }
}

.site-header, .section:first-of-type {
  @media (min-width: 768px) {
    padding-top: 200px;
  }
  padding-top: 80px;
}
.intro {
  .btn-white {
    margin: 20px;
    padding: 20px 40px;
    @media (max-width: 600px) {
      display: block;
    }
  }
}

img.main {
    padding: 20px;
    float: left;
    width: 30%;
}

img.main-50 {
    padding: 20px;
    float: left;
    width: 50%;
}


.dropdown {
    display: inline-block;
    position: relative;
    font-color: #fff;
    font-weight: bold;
    .btn {
        z-index: 10;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    z-index: 20;
    display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color: #aaaaaa;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #bbbbbb;
}
