---

title: Українці та японці взяли участь у Мегамарші у вишиванках в Токіо, Японія
date: 2014-06-28 15:12 UTC
lastmod: 2014-06-28T15:52:00Z
changefreq: yearly
priority: 0.5
tags: Парад,Вишиванка,Токіо,Японія
categories: release,parade

---

28 червня за ініціативи спільноти українців в Японії «Краяни» в Токіо відбувся другий мегамарш у вишиванках.

READMORE

Захід відбувся в центральному районі столиці Японії – Ґінза. Метою заходу була популяризація та ознайомлення громадян країни, де сходить сонце, з українською культурою, національним одягом, піснями, а також об’єднання української спільноти в Японії.

В заході взяло участь близько 150 учасників, серед яких були українці, японці, американці та громадяни інших країн. Яскраві кольори вишиванок, віночків та українських прапорів замайоріли центром Токіо. Знаковим є те, що з самого ранку йшов сильний дощ, проте перед початком заходу він перестав і кожен з учасників та перехожих зміг насолодитись красою української вишиванки.

Парад підтримали не лише закордонні українці в Японії, але й дипломатичний сектор Посольства України в Японії та надзвичайний та повноважний Посол Ігор Харченко. У зв’язку з напруженою ситуацією в Україні, а також через можливість проведення провокацій, була посилена охорона.

Приємно, що на святі були присутні вишиванки з різних регіонів України і кожен з учасників вигукуючи «Слава Україні – Героям Слава!» підтримав свою Батьківщину, її єдність та мир на її землі.

Захід відбувся за підтримки Посольства України в Японії, місії Української Православної Церкви Київського Патріархату, а також представниками українського бізнесу в Японії.

У Токіо мегамарш у вишиванках вперше відбувся у 2013. У 2013 році захід зібрав більше 70 українців, які проживають в Японії, а також японці, яким цікава та небайдужа Україна. Захід проводився в районі Шібуя, маршрут пролягав через відоме перехрестя на станції Шібуя та площу Хачіко.

- <a target="_blank" href="http://www.facebook.com/events/1517181125169648">Подія на Facebook</a> (українською, англійською та японською)
- <a target="_blank" href="http://japan.mfa.gov.ua/ua/press-center/announcements/2476-prijednujtesy-do-2go-megamarshu-u-vishivankah-v-tokio-28-chervnya">Оголошення на сайті Посольства України в Японії</a>
- <a target="_blank" href="http://www3.nhk.or.jp/news/html/20140628/k10015585301000.html">Репортаж національного телеканалу Японії NHK</a> (<a target="_blank" href="http://archive.today/YeX05">Архів 1</a>, <a target="_blank" href="<%= image_path "/assets/images/news-archive/parade-2014-nhk.png" %>">Архів 2</a>)
