---
title: Японсько-український благодійний аукціон для України
date: 2022-06-16
---

markdown:
  - 16 червня, 2022 (четвер) 19:00 – 21:00
  - Tokyo, Minatoku, Toranomon 1-23-1 Toranomon Hills Mori Tower
  - Гібридна подія: аукціон online та за персональної участі
  - Попередня реєстрація:

  [https://venturecafetokyo.org/sessions/charity-art-auction-for-ukraine/](https://venturecafetokyo.org/sessions/charity-art-auction-for-ukraine/)

  Для підтримки людей України мистецька громада Токіо та всесвітньо відомі українські художники разом організовують благоднійний аукціон. Приєднуйтеси до нас щоб на власні очі побачити, як мистецтво може об'єднати людей в стійкості, непокорі і надії перед лицем війни. Частина прибутків від аукціону буде передана на гуманітарні цілі в Україні.
