---
title: "ウクライナ支援チャリティ・アート・オークション"
---

markdown:
  - 6月16日（木）19:00 – 21:00
  - 東京都港区虎ノ門1-23-1 虎ノ門ヒルズ森タワー
  - ハイブリッド開催：オンラインと会場でのオークション
  - 下記リンクより事前登録をお願いします:

  [https://venturecafetokyo.org/sessions/charity-art-auction-for-ukraine/](https://venturecafetokyo.org/sessions/charity-art-auction-for-ukraine/)


  都内の芸術コミュニティと世界的に有名なウクライナの芸術家らは、ウクライナの人々を支援するためのチャリティーオークションを開催します。収益の一部はウクライナの人道支援に寄付されます。
