---
title:  "Літня школа Джерельце 2022 року"
date: "2022-06-14"
---


markdown:
  ### Шановні друзі!
  12 червня завершується навчальний 2021-22 рік у нашій чудовій українській недільній школі “Джерельце”. Але ми з вами не прощаємось і запрошуємо на літню школу. Заняття проходитимуть щонеділі з 19го червня по 31   липня, крім неділі 26 го червня. В цей день в Лібрі, де і проводяться заняття школи Джерельце, відбудеться фестиваль “Festa in Libra”, у якому вихованці школи також візьмуть участь та покажуть уривок театральної постановки п’єси Лесі Українки «Лісова пісня». Запрошуємо всіх!


  READMORE

  #### Програмою літньої школи передбачені наступні курси:

  - 1 курс:
  заняття з 10:00 до 12:00 діти дошкільного віку. (4-7 років)
  - 2 курс:
  заняття з 13:00 до 15:00 діти шкільного віку (8-14 років)
  - 3 курс:
  для батьків з 10:00 до 12:00 години
  - 4 курс:
  для батьків з 13:00 до 15:00 години

  #### На заняттях  для дітей 1 і 2 курсів
  ( дітей дошкільного та шкільного віку) наступна програма

  - Розвиток хореографічних навичок
  - Ритміка
  - Спів
  - Розвиток акторської майстерності
  - Основи  гриму тощо

  _Заняття проводяться українською при потребі з перекладом на японську._

  #### Для батьків заняття 3 курсу з 10:00 до 12:00 за наступною програмою

  - 19 червня:
    - Розповідь про сезон дощів та літні свята в Японії.
    - Виготовлення прикрас-побажань «Танзаку» до свята
    - Танабата (історії романтичного кохання Пастуха та Ткалі).
    - Одягання традиційного літнього кімоно «Юката» з подальшою фотосесією.
  - 26 червня
    - Бесіда про корисні звички, здоровий спосіб життя, правильне харчування.
    - Практика йоги (початковий рівень)
  - 3 липня
    - Медитація як інструмент для гармонізації внутрішніх станів.
    - Практика йоги (початковий рівень)
  - 10 липня
    - Бесіда про корисні звички, здоровий спосіб життя, правильне харчування.
    - Практика йоги( початковий рівень)

  - 17 липня
    - Практика на пізнання партнера, самомасаж.
    - Практика йоги (початковий рівень)
  - 24 липня
    - Дихальні вправи як спосіб для самоконтролю.
    - Практика йоги (початковий рівень)
  - 31 липня
    - Лекція «Літо в Японії»
    - Особливості клімату
    - Літні канікули та свята японців
    - Корисні поради щодо японського етикету та дегустація традиційних літніх солодощів.


  Для занять 4 курсу 13:00 до 15:00 передбачені заняття з приготування японських страв та знайомство з японською кухнею,
  урок ікебани, виготовлення японських листівок Ехаґакі тощо

  ※ Паралельно в цей же час будуть проходити заняття японської мови. Орієнтовно, групи будуть зібрані за віковою категорією. Заняття проводять кваліфіковані вчителі японської мови.

  #### Вартість кожного курсу

  - Для дітей:
    - 6 занять по 2 години 9000 єн
    - Для учнів школи “Джерельця” та членів НПО "Краяни" 7000 єн.
    - Для евакуйованих безкоштовно і оплата дороги

  - Для батьків:
    - 6 занять по 2 години 9000 єн
    - Для батьків учнів школи “ Джерельця” та НПО "Краяни" 7000 єн
    - Для евакуйованих безкоштовно і оплата дороги

  Бажаючих відвідувати курси просимо заповнити анкету. З Вами зв’яжуться організатори. Для родини можна заповнити одну анкету, вписавши всі необхідні відомості на кожного.
  Якщо вас цікавить вивчення японської мови у ці дні, напишіть в анкеті коментар (з вивченням японської мови).
  Бажаючих відвідувати курси [просимо заповнити анкету](https://docs.google.com/forms/d/e/1FAIpQLSfvwYGsdXM5hIAnoEcRu5cqVWlf9TP0ZmfcO7CxPMw3r71bRA/viewform). З Вами зв’яжуться організатори.
  Реєстрація відкрита до четверга(16 го червня) включно. Реєстрація для участі в літній школі обов’язкова.
