---
title: "Українська мова як іноземна для дорослих"
---

markdown:

  Запрошуємо на курс вивчення української мови  як іноземної до нашої школи Джерельце. Ви матимете нагоду не тільки вивчати мову на уроках, але й спілкуватись з носіями мови в позаурочний час та брати участь у всіх цікавих заходах школи, пов'язаних з українськими традиціями та культурою.

  READMORE

  Уроки проводяться два рази на місяць по 1 годині за розкладом школи Джерельце.

  Час проведення: за домовленістю з класом.

  Вартість: перший пробний урок безкоштовно.

  вхідні: `5000 єн`
  рік: `40 000 єн`
  півроку: `25 000 єн`

  Не пропустіть свій шанс.
  Для бажаючих відвідати школу просимо [заповнити анкету](https://docs.google.com/forms/d/e/1FAIpQLSdq1adWJCotCYHi5Q2DotDA-lnn434pvqWz2pWO-4bN2lFTgQ/viewform).
