---
title: Краса України врятує світ
date: 2022-06-25
---

markdown:

  Кажуть, що краса врятує світ. Україна — неймовірно красива.

  Ми запрошуємо вас зануритися у світ української краси за допомогою неймовірного мистецтва.

  READMORE

img src="/assets/images/news/2022-06-25-beaty_ukraine/poster.jpg" class="main"

markdown:

  ## Організатори події

  - SAF Synchro Art Foundation, F5 GINZA SIX
  - Асоціація дружби Японія-Україна НПО Краяни
  - UK for Ukraine

  За підтримки Посольства України в Японії.

  Для участі у майстер-класі з писанкарства, заповніть, будь ласка, форму нижче.



  -  [Посилання](https://www.facebook.com/events/1654725551573025) на подію у Facebook
  - [Форма](https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSfmIZd9tDOxHRAgs5wL_7_GLYOfHcx9A7G8ZcPmkk0AqFe2sw%2Fviewform%3Fusp%3Dpp_url%26fbclid%3DIwAR3iN_uOrJENnpt0vWbmM4zDhU6bIdPJ-M3eAzRjU8magydr-zzS1O6k7Kc&h=AT0irxIlFHUJ7ckyH5Kr-sR7hQ4Gsu2vPI-SsFisb7suJEHAcZSygbKgpPgLhqzvDuwFfnzHKtKqvNzEkvwqMDYDvZ4pfLecLlsqHmCqG79ARGNlL8YlSAGdy8aUZMscX51sFFw&__tn__=-UK-R&c[0]=AT2vLgESztAABP_tO0k4GQeyw_xlGhiYHakZprTtPBsKSG8-raDjoLC-ATJEAfWqpdLwbh3Ff3_M5bDx2hnA42ig35tA4I0WxC5lvNyqAsmDLEFdV1NFSjoTHG7I8KJQdtdzX1FgYUO9lhTJ8coYHUGbd8NOr4zFrwtzhtJrKm09XFu8cqFSPtM) для реєстраії
