---
date: 2022-08-23
title: Day of the State Flag of Ukraine
---

markdown:

  Japanese organization Seicho-no-ie [生長の家](https://www.jp.seicho-no-ie.org/) is organizing parades to commemorate Day of the National Flag of Ukraine. Parades are held to support Ukraine in our struggle against russian invasion.

  READMORE

= image_tag '/assets/images/news/day-of-flag.png', style: "width: 50%; float: left; margin: 1em; margin-right: 3em;"

markdown:

  Schedule of the parades and detailed information provided on the [organization's webpage](https://www.jp.seicho-no-ie.org/top/p4u/parade/).
