---
date: "2022-08-23"
title: "Парад до Дня державного прапора України"
---

markdown:

  Організація Сейчьо-но-іе [生長の家](https://www.jp.seicho-no-ie.org/)　на підтримку України організовує ряд парадів у Японії для відзначення Дня державного прапора.

  READMORE

= image_tag '/assets/images/news/day-of-flag.png', style: "width: 50%; float: left; margin: 1em; margin-right: 3em;"

markdown:

  Паради відбудуться починаючи з 23 серпня в різних районах та префектурах Японії. Додаткова інформація та розклад парадів наводиться [на сторінці організації](https://www.jp.seicho-no-ie.org/top/p4u/parade/).
