---
date: 2022-05-07
title: Український фестиваль на станції Комае в Токіо
---
markdown:
  7 травня мерія міста Комае разом зі спільнотою українців в Японії НПО «Краяни» та [школою "Джерельце"](http://dzherelce.github.io/) провели Український фестиваль «Відчуй Україну».

  READMORE

  Пані Марія евакуювалась із Запоріжжя до своєї доньки Наталі Лисенко, родина якої проживає в цьому місті. Шлях до Японії для літньої жінки був нелегких 7 днів.

img src="/assets/images/komae-2022-05/komae1.jpg" class="main"

markdown:

  Дізнавшись про історію пані Марії мер міста Комае пан Мацубара запросив на зустріч познайомитись.

img src="/assets/images/komae-2022-05/komae2.jpg" class="main"

markdown:

  В розмові запропонували пригостити його справжнім українським борщем. І проста ініціатива переросла в чудовий фестиваль з безкоштовною роздачею борщу на 500+ порцій, який приготували наші славні україночки за рецептом пані Марії, та квітів соняшників кожному відвідувачу.

img src="/assets/images/komae-2022-05/komae3.jpg" class="main"

p Місто заполонилось жовто-блакитними кольорами та повсюди радували око українські вишиванки, у які  були вбрані не тільки українці. Японці зі сльозами на очах висловлювали слова підтримки Україні, розкуповували українські сувеніри, виготовлені руками вчителів та батьків української недільної школи в Токіо «Джерельце», розпитували про Україну.

img src="/assets/images/komae-2022-05/komae4.jpg" class="main"

p  Концерт не залишив байдужим жодного японця. Наші талановиті артисти своїми пронизливими виступами викликали багато емоцій та овацій. У цей день весь час лунала прекрасна українська музика, яка створювала настрій гостям та заряджала позитивною енергією.

img src="/assets/images/komae-2022-05/komae5.jpg" class="main"


p На фестивалі також великий інтерес у японців викликала виставка виробів українських народних ремесел --- мальовничі писанки та мотанки, косівська кераміка та традиційне українське вбрання. Японці із зацікавленістю дізнавалися більше про Україну , відповідаючи на питання вікторини та роздивляючись фотовиставку, промовисті світлини якої демонстрували Україну до початку війни та після російського вторгнення.

img src="/assets/images/komae-2022-05/komae6.jpg" class="main"

p У цей день невеличке японське місто Комае перетворилося на велику українсько-японську родину, де усі об'єдналися заради однієї мети --- щоб підтримати Україну, побажати перемоги і миру нашій рідній землі.

img src="/assets/images/komae-2022-05/komae7.jpg" class="main"

p Дякуємо мерії міста Комае за співпрацю та можливість долучитися до заходу і провести його на високому рівні, а також всім учасникам.

img src="/assets/images/komae-2022-05/komae8.jpg" class="main"


P Команда «Краян» та «Джерельця» --- ви неймовірні!!

markdown:
  Фестиваль за приблизним підрахунком відвідало біля 3000 жителів міста та гостей з інших куточків Японії! Виручені кошти від продажу сувенірів - 333&nbsp;059 єн та зібрані пожертви 1&nbsp;134&nbsp824 єн будуть переказані на рахунки Краян та Амбасади України в Японії.

p Переможемо! Все буде Україна!
