---
date: 2022-09-02
title: 大人のためのウクライナ語クラス
---

markdown:

  ウクライナ日曜学校「ジェレツェ」では外国語としてのウクライナ語コースを提供しています。
  このコースでは言語を学ぶだけでなく、ネイティブスピーカーとコミュニケーションを取ったり、ウクライナの伝統や文化に関連するイベントに参加する機会もあります。

  READMORE

  各クラスは、ウクライナ日曜学校「ジェレツェ」の通常スケジュールに基づいて月に 2 回（各クラス1 時間）実施します。

  時間：参加者の予定に合わせて
  費用：初回体験レッスンは無料
  入会費 `5,000円`
  1年間 `40,000円`/半年間`25,000円`

  次回の体験レッスンは9月11日　13:00～１4:00に実施予定です。

  ぜひこの機会にご参加ください。

  見学を希望される方は、[こちら](https://docs.google.com/forms/d/e/1FAIpQLSdq1adWJCotCYHi5Q2DotDA-lnn434pvqWz2pWO-4bN2lFTgQ/viewform)よりお申し込みください。
