---
title: "Історія українки, евакуйованої в Кіото"
---

markdown:

   На нашій сторінці час від часу ми будемо публікувати розповіді тих, кому вдалося евакуюватися до Японії. Сподіваємося, що ці розповіді допоможуть іншим вимушеним переселенцям. Сьогодні --- розповідь пані Насті, яка знайшла свій тимчасовий притулок на японській землі в місті Кіото.  Розповідь публікуєтся з дозволу авторки.

   READMORE

  ## Настя, Евакуювалася з гарантом, місто Кіото


  - 16.04 - прилетіла до Наріти. Мала всі 3 вакцини Пфайзером, отримала негативний результат тесту в Наріті і поїхала до Кіото.
  - 19.04 - подала документи на річну візу. З заповненням документів на місці це зайняло приблизно 1,5 год. Ніхто не говорив англійською і не могли зрозуміти, що я від них хочу. Допомогла подруга японська, яка поїхала зі мною. Інакше це не було б так швидко.
  - 24.04 - гарант подала документи на програму Ніппон Фаундейшн
  - 25.04 - прийшла відкритка, що віза готова. В цей день замовила печатку ханко.
  - 26.04 - забрала візу і картку резидента.
  - 28.04 - поїхала з подругою в місцеву адміністрацію, щоб прописатися. За це є невеликий збір, не пригадаю скільки. Без прописки, як мені пояснили, ви не можете оформити медичне страхування тож подруга поки що мене прописала в себе. В місцевій адміністрації ніхто не говорив англійською. Куди йти, що робити, що заповнювати - невідомо. Навіть знання японської особливо не рятували. Якби не допомога подруги, не думаю, що мені вдалося б це все оформити (вона все писала, спілкувалася з клерками і т.д.). Також відписало посольство щодо телефонної картки та усного перекладача.

  ### Питання, які досі відкриті

  1. Питання роботи. Немає ще жодної конкретики, шукають. Знання мови надважливе. Маєте мати таку кваліфікацію, з якою зможете зачепитися. Вищу освіту просять в 95 випадках.
  2. Питання житла. Апаман поки підвис, немає житла в Кіото. Мають дати муніципальне, маю їхати дивитися на наступному тижні. Воно пусте, але хоч щось.
  3. Фінансова допомога. Від міста поки немає і немає ще нічого від Ніппон Фаундейшн. Живу за власний кошт та з допомогою подруги.
  4. банківська картка

  ### ДЛЯ ТИХ ХТО ХОЧЕ ЇХАТИ САМОСТІЙНО/З ГАРАНТОМ

  1. Ви маєте мати гроші! Ви маєте бути готові що до допомоги (всяке може бути) Ви самі за свій кошт купуватимете собі їсти і матимете де спати (навіть якщо це означає орендувати житло самостійно). Також мати гроші на випадок непередбаченої ситуації (хвороба і т.д.).
     Якщо ви їдете до своєї родини, то тут питання відсутнє, думаю вони про вас попіклуються.

  2. Я наголошую на тому, що маєте мати в Японії людину (якій ви довіряєте!), яка вам допомагатиме з бюрократичною тяганиною і ходитиме з вами по всіх інстанціях. Це те, що є найважче і майже неможливо зробити самому. Навіть зання японської не рятують.  Ви маєте бути на 1000000% впевнені, що ця людина буде Вам в цьому допомагати. Це те з чим я стикнулася і за що я просто невимовно вдячна своїй подрузі.

  Якщо немає грошей і такої людини, серйозно краще податися на програму або розглянути іншу країну.
