---
title: Медичні форми
layout: page
---

markdown:

  Міжнародна організація Хачі Конандаі разом з Міжнародним Фондом Канаґава перекладають на іноземні мови медичні анкети та форми, які потрібно заповнювати під час візиту у лікарні в Японії. Цього разу вони додали до переліку мов і українську. [Анкети](https://kifjp.org/medical/ukraine) дуже зручно поділені по розділах та допоможуть уникнути стресу під час візиту до лікарні.
