---
title: Пошук лікарень
layout: page
---

markdown:

  Для українців, які розмовляють англійською мовою, можуть стати у нагоді [сайти пошуку лікарень](https://www.alljapanrelocation.co.jp/living-guides/hospitals/) та [ще один](https://byoinnavi.jp/), де розмовляють англійською.

  Якщо шукати немає часу, можна зателефонувати до багатомовного центру з надання інформації по медичним закладам. Центр надає інформацію по медичним закладам у місті Токіо з 9:00 по 20:00. Номер телефону центра `03-5285-8181`

  Лікарні по Токіо та багато іншої [корисної інформації](https://www.realestate-tokyo.com/living-in-tokyo/doctors-hospitals/?_gl=1*1eznqz6*_ga*MTA3Mjk4NzI2My4xNjYwMDE0OTQz*_ga_PEGSS80Q89*MTY2MDAxNDk0My4xLjAuMTY2MDAxNDk0My4w) (англійською мовою)
