
h2 = t("evacuee.helpful_advises.title")
p = t("evacuee.helpful_advises.lead")

= link_to t("evacuee.helpful_advises.transportation.menu"), "transportation.html", class: "btn btn-success btn-wrap btn-margin"
= link_to t("evacuee.helpful_advises.psychological_help.menu"), "psychological_help.html", class: "btn btn-success btn-wrap  btn-margin"
= link_to t("evacuee.helpful_advises.mobile.menu"), "mobile.html", class: "btn btn-success btn-wrap  btn-margin"
= link_to t("evacuee.helpful_advises.payphone.menu"), "payphone.html", class: "btn btn-success btn-wrap  btn-margin"
= link_to t("evacuee.helpful_advises.summer_heat.menu"), "summer_heat.html", class: "btn btn-success btn-wrap  btn-margin"

= link_to t("evacuee.helpful_advises.dozvillya.menu"), "dozvillya.html", class: "btn btn-success btn-wrap  btn-margin"

= link_to t("evacuee.helpful_advises.babysitting.menu"), "babysitting.html", class: "btn btn-success btn-wrap  btn-margin"
