h3 = t("evacuee.regions.menu")

p = t("evacuee.regions.lead")


- regions = { "tokyo" => "Токіо",
  "yokohama" => "Йокогама",
  "osaka" => "Осака",
  "saitama" => "преф. Сайтама",
  "aichi" => "преф. Aїчі",
  "alljapan" => "По всій Японії",
  "izumisano" => "М. Ізумісано, преф. Осака",
  "chiba" => "М. Чіба",
  'funabashi' => "М. Фунабаші (преф. Чіба)",
  'tk_free_tickets' => "Безоплантий квиток на транспорт в Токіо",
  "support-r" => "Центр допомоги Support-R",
  }

- regions.keys.sort.each do |file|
  =<> link_to regions[file], file+".html", class:  "btn btn-success btn-wrap", style: "margin-bottom: 5px"
