
h2 Візові питання та посвідчення

=<> link_to t("evacuee.visa")                , "visa.html", class: "btn btn-success btn-wrap"
=<> link_to t("evacuee.id_displaced_person") , "id_displaced_person.html", class: "btn btn-success btn-wrap"
hr class="thicker"
