---
title: evacuee.regions.aichi
---
markdown:
  ### Допомога в префектурі Аічі та в місті Наґоя

    В префектурі Аічі українцям, які знайшли притулок в Японії,
    надається одноразова виплата у розмірі 100,000 єн, побутові
    набори, набори засобів особистої гігієни, квитки для відвідування
    громадських заходів та закладів культури.

    Одноразова виплата здійснюється з пожертв місцевих громад та
    мешканців. Заяви на отримання виплати приймаються до кінця травня.

    Подати заяву та дізнатися більше про допомогу і отримати іншу
    корисну інформацію по цьому району можна на зустрічах українців у
    міжнародному центрі Наґоя. Зустрічі називаються “Цудоі но ба” (つ
    どいの場).

    Для запису зверніться до волонтерів “Японсько-української
    культурної асоціації” (JUCA) за телефоном `090-2262-5933` або до
    відділу міжнародних обмінів міста Наґоя за телефоном `052-972-3062`.

    Волонтери “Японсько-української асоціації” також консультують
    українців з приводу оформлення документів, необхідних для в’їзду в
    Японію та реєстрації після в’їзду в Японію, влаштовують благодійні
    акції на підтримку переселенців з України в районах Аічі, Ґіфу та
    Міе, дбають, аби українці різного віку мали можливість для
    спілкування та не відчували себе самотніми в далекому краї.

    Консультації українською мовою з різноманітних питань проводить
    також міжнародний центр міста Наґоя за телефоном `052-581-0100`.

  ## Корисні Ресурси

    - [Міжнародний центр міста Наґоя (Google Maps)](https://goo.gl/maps/KaZqZ6GbUkB2)
    - [“Японсько-українська асоціація” (JUCA) - Фейсбук](https://www.facebook.com/npojuca)
    - [Посібник з проживання в місті Наґоя  (PDF) - українською](https://www.city.nagoya.jp/kankobunkakoryu/cmsfiles/contents/0000151/151347/guideukraine.pdf)
    - Детальніше про допомогу українцям в місті Наґоя
      - [https://www.city.nagoya.jp/kankobunkakoryu/page/0000151347.html (японською)](https://www.city.nagoya.jp/kankobunkakoryu/page/0000151347.html)
      - [https://www.nic-nagoya.or.jp/japanese/nicnews/notice/2022/04081151.html (японською)](https://www.nic-nagoya.or.jp/japanese/nicnews/notice/2022/04081151.html)
