---
layout: page
title: evacuee.regions.alljapan
---

h2 Допомога від Ніппон Фаундейшн по всій Японії

markdown:
  Незалежно від того, де ви перебуваєте, ваш гарант може подати на отримання допомоги від Ніппон Фаундейшн. Допомога включає:

  - транспортні витрати на переїзд до Японії,
  - витрати на проживання та
  - облаштування житлового простору.

  Заяви приймаються до 31 березня 2023 року. Участь у програмі можуть взяти громадяни  України, які через вторгнення росії в Україну евакуюються до Японії та мають гаранта (гарант має знаходитися на території Японії). Детальніше про програму та посилання на подачу заяв [дивіться тут](https://www.nippon-foundation.or.jp/who/news/information/2022/20220415-69433.html)

hr class="thicker"

h2 Допомога по регіонах на сайті міграційної служби

p Міграційна служба Японії постійно оновлює свій сайт з новою корисною інформацією для українців, які знайшли притулок в Японії. Також вони створили окремий сайт, на якому Ви зможете дізнатися про послуги та допомогу, яка надається українцям у Вашому районі. Доступ до сайту надається переміщеним особам індивідуально.

markdown:

  - Корисна інформація від [міграційної служби Японії](https://www.moj.go.jp/isa/support/fresc/ukraine_support.html)

  - [Сайт допомоги українцям](https://zairyushien02.force.com/s/login/?ec=302&startURL=%2Fs%2F), які знайшли притулок в Японії
