---
title: evacuee.documents.anketa
layout: page
---

p Ця анкета створена НПО Краяни для того, щоб краще зрозуміти потреби і плани евкуайованих до Японії з України. Відповіді з анкети не будуть використовуватися з жодною іншою метою крім заявлених тут. Дані анкети не будуть публікуватися у відкритих джерелах і використовуватимуться виключно дозволеними учасниками НПО Краяни.

= link_to "Заповнити форму", "https://forms.gle/Tk5xj2hVDAuPqfKM7", class: "btn btn-primary btn-wrap btn-lg btn-margin", target: "_new"
