---
title: evacuee.study_in_japan.avia_academy.title
layout: page
---

markdown:

  Японська Авіаційна Академія  / Japan Aviation Academy (скорочено JAA) надає підтримку в навчанні українцям, які мають статус біженця. Авіаційна Академія пропонує українськім школярам середньої, старшої шкіл, а також коледжу, які мають статус біженця, навчання в Японії. Школяри та студенти приймаються в трьох кампусах: Яманаші , Хоккайдо Шінчітосе та Ішікава Ното.

  Знання японської мови чи досвід навчання в японських закладах не вимагається. На реєстрацію документів подати можуть абітурієнти з українським громадянством.

  ※ Витрати на візу та проїзд несе Японська Авіаційна Академія (JAA).

  ### Пропозиції відділень для абітурієнтів
    Кампус Яманаші пропонує навчання школярам в середній та старшій школах. Період навчання 3 роки.
    Кампус Хоккайдо Шінчітосе аеропорт та кампус Ішікава Ното аеропорт пропонує навчання в старшій школі періодом навчання на 3 роки, та коледжі, періодом навчання 2-4 роки.

  | Campus/Кампус | Department/Відділення  | Study Period/ Час навчання |
  | ------ | ----- |---- |
  | Yamanashi/Яманаші | Junior High School/Середня школа  |  3 years/ роки |
  | | High School/ Старша школа | 3 years/роки |
  | Hokkaidoв Shinchitose Airport/ Хоккайдо Шінчітосе аеропорт | Correspondence High School | 3 years/ роки |
  | | College/ Коледж | 2-4 years/ роки |
  | Ishikawa Noto Airport/Ішікава Ното аеропорт | High School/ Старша школа | 3 years/роки |
  | | College/ Коледж | 2-4 years/роки |

  #### Докумети для реєстрації

  - [ Путівник щодо програми підтримки переселенців з України. (PDF)](/assets/files/jaa/jaa-general.pdf)
  - [ Програма підтримки переселенців з України (PDF)](/assets/files/jaa/jaa-info.pdf)
  - [ Форма заяви (PDF)](/assets/files/jaa/jaa-application-form.pdf)
