---
title: evacuee.regions.chiba
---

markdown:

  ### Підтримка евакуйованих українців в місті Чіба.

  Якщо Ви проживаєте в місті Чіба та потребуєте допомоги, будь ласка, звертайтесь до консультаційного бюро для іноземних громадян, Міжнародної Асоціації міста Чіба (千葉市国際交流協会/ちばしこくさいこうりゅうきょうかい).

  Працівники центру проконсультують, нададуть поради, допоможуть вирішити проблеми. Консультації надаються  японською, англійською та українською мовами.

  Інформація на сторінці центру доступна українською мовою за допомогою гугл автоперекладача.
  Для отримання будь-якої допомоги, що надає місто Чіба, вам потрібно зареєструватись в Міжнародній Асоціації міста Чіба.

  Допомога, яку пропонують:

  - Грошова допомога від міста Чіба
  - Зміна статусу візи
  - Надання безкоштовного житла
  - Надання консультації та інформації, що стосуються виховання дітей та навчання
  - Прийом дітей до школи та університету
  - Допомога у працевлаштуванні
  - Безкоштовне відвідування спортивних секцій, мистецьких та музичних шкіл
  тощо.

  Місто Чіба надає таку грошову допомогу:
  - витрати на переїзд: до '300 000 єн' на одну людину одноразово;
  - витрати на проживання до `1 000 000 єн` на рік на  одну людину (до `3 000 000 єн` на сім'ю);
  - витрати на утримання квартири до `500 000 єн` на сім'ю.

  ### Підтримка у вивченні японської мови в місті Чіба.
  Для тих, хто хоче вивчати японську мову, місто Чіба надає безкоштовне навчання протягом одного року в професійній школі “Chiba Mode Business College”. Коледж знаходиться в 3 х хвилинах пішки від станції 都賀/つが/Тсуга (це одна зупинка від станції 千葉/ちば/Чіба).
  “Chiba Mode Business College” пропонує курси з різних напрямків для іноземців, в тому числі курси для вивчення японської мови для різного віку:
  класи для учнів молодшої, середньої та старшої школи, японська для роботи ( для дорослих), та класи підготовки до здачі іспиту на знання японської мови (JLPT). Навчання  доступне як в класах, так і онлайн, а також індивідуальні заняття.
  Коледж також забезпечує харчування, оплату за проїзд та проживання в гуртожитку, в якому проживають інші іноземні студенти. Кількість прийому людей обмежена.
  За консультацією та оформленням в “Chiba Mode Business College” звертатись до  Міжнародної Асоціації міста Чіба.
  Веб сторінку Міжнародної Асоціації міста Чіба дивіться за посиланням .

  Більш детальну інформацію про допомогу в місті Чіба, веб сторінку та адресу Міжнародної Асоціації  міста Чіба, розклад роботи україномовної підтримки дивіться за посиланнями.



  - [Міжнародна Асоціація міста Чіба](https://ccia-chiba.or.jp/uk/closingtime_supportedlanguage_location)
  - [Підтримка в місті Чіба](https://www.city.chiba.jp/somu/shichokoshitsu/kokusai/2022_ukraine_support.html)
  - [Сторінка з інформацію муніципалітету міста Чіба](https://www.city.chiba.jp/somu/shichokoshitsu/kokusai/2022_ukraine_info.html)
