---
title: evacuee.study_in_japan.dzherelce
layout: page
---

markdown:
  Недільна школа Джерельце працює з 2008го року. Ми надаємо можливість українським дітям освоїти основи української мови, спілкування зі співвітчизниками.

  З 2022 року школа Джерельце для евакуйованих сімей з України надає можливість навчатися безкоштовно. Ми також компенсуємо витрати на проїзд до школи.

  Більш детальну інформацію про школу ви можете знайти на [веб-сторінці школи](http://dzherelce.github.io/)
