---
layout: page
title: evacuee.help.title
---

p = t("evacuee.help.lead")

= partial "visa"
hr class="thicker"


p = link_to t("evacuee.work.menu")             , "work.html", class: "btn btn-primary btn-lg btn-wrap"

h2 = t("evacuee.study_in_japan.title")
p = t("evacuee.study_in_japan.lead")

= link_to t("evacuee.study_in_japan.pathways.menu") , "pathways.html", class: "btn btn-success btn-wrap btn-margin"
= link_to t("evacuee.study_in_japan.avia_academy.menu") , "avia_academy.html", class: "btn btn-success btn-wrap btn-margin"
hr class="thicker"


/* ---------------------- */
h2 Мовні ресурси
p Ресурси для вивчення японської мови, або ж послуги з перекладу японська-українська для тих, хто не має можливості вивчити японську мову протягом короткого часу.
= link_to t( "evacuee.study_japanese.menu") , "study_japanese.html", class: "btn btn-success btn-wrap btn-margin"
= link_to t("evacuee.translation_services.menu"), "translation_services.html",  class: "btn btn-success btn-wrap btn-margin"
hr class="thicker"
/* ---------------------- */

= partial "regions"
hr class="thicker"
/* ---------------------- */

= partial "helpful"
hr class="thicker"
/* ---------------------- */

p = link_to t("evacuee.svij-do-svoho")         , "https://www.facebook.com/groups/ukrainejapan/", class: "btn btn-primary btn-lg btn-wrap"
p Посилання на групу у Фейсбук метою якої є допомога евакуйованим речима повсякденного вжитку. Тут ви зможете зв'язатися з українцями, що проживають в Японії або японцями і можливо отримати допомогу з предметами повсякденного вжитку, одягом, тощо.
hr class="thicker"

/* -------------------------------------------- */
p = link_to t("evacuee.pets.menu")             , "pets.html", class: "btn btn-primary btn-lg btn-wrap"
p = link_to t("evacuee.ymca.menu")             , "ymca.html", class: "btn btn-primary btn-lg btn-wrap"
