---
title: "events.title"
---

h2
  a href="/festival/"= t "events.festival.title"
p= t "events.festival.description"
h2
  a href="/#{lang}/parade.html"= t "events.parade.title"
p= t "events.parade.description"
h2
  a href="/#{lang}/gallery.html"= t "gallery.title"
p= t "gallery.description"
