---
title: evacuee.study_in_japan.students.title
layout: page
---

markdown:

  Підтримка українських студентів, можливості навчання для випускників
  шкіл та студентів вищих навчальних закладів України в Японії.
  Японською організацією підтримки студентів/Japan Student Services
  Organization у співпраці з Міністерством освіти, культури, спорту,
  науки і технологій та Міністерством закордонних справ Японії з квітня
  2019 го року ведеться веб-сторінка “Навчання в Японії/Study in
  Japan”. Наразі інформація доступна японською, англійською, корейською
  та китайською мовами.

   На сторінці можна знайти як загальну інформацію про систему освіти в Японії, так і
  конкретну інформацію по школах та вищих закладах. На даний час в розділі Інше/Other
  створена сторінка з інформацією підтримки українських студентів.
  Значна кількість університетів Японії надають можливість навчання та підтримку
  студентам з України у місті Токіо, Осака, Кіото,  префектурах Акіта, Ґіфу, Окаяма, Аічі,
  Фукуока, Ніігата, Фукушіма, Шіга, Ічікава, Ібаракі, Яманаші, Міягі, Гунма.

  Більш детальну інформацію та інформацію про подачу документів можна знайти за
  посиланнями на сторінці  Interfm, сторінці НПО Краяни та безпосередньо з веб-сторінки
  [“Навчання в Японії/Study in Japan”](https://www.studyinjapan.go.jp/en/other/news/000165.html?fbclid=IwAR14xP4g7dq6hcbFM53CimOtIKVq-tXWS_kU4nS-Iqpk4vDnH4tWe6AWKAM)


  ## “Українсько-Японський Центр”(UAJC)

  “Українсько-Японський Центр”(UAJC) який був відкритий у 2006 му році на базі
  Національного технічного університету України ”Київський політехнічний інститут імені
  Ігоря Сікорського ”(КПІ), на своїй сторінці повідомив про можливості навчання та
  стипендій в університетах Японії для студентів КПІ ім. Ігоря Сікорського.

  Низка університетів Японії, серед яких три партнерські університети КПІ ім. Ігоря
  Сікорського, висловили бажання прийняти до себе на тимчасове навчання українських
  студентів з огляду на повномасштабне російське вторгнення в Україні.

  Всі пропозиції передбачають безкоштовне навчання. Крім того, університети
  пропонують фінансову допомогу.

  -  Університет в місті Кіото готовий прийняти до 30 студентів КПІ (бакалаврів,
  магістрів, аспірантів)   з різних спеціальностей строком до березня 2023 р;
  -  Технологічний інститут Шібаура (м. Токіо) запрошує бакалаврів, магістрів,
  аспірантів технічних спеціальностей для навчання починаючи з 31 липня 2022
  року;
  -  Університет Шідзуока готовий прийняти двох студентів (бакалаврів, магістрів,
  аспірантів) сроком від 6 місяців до одного року.
  -  Крім того, Університет Канадзава готовий тимчасово прийняти тих, у кого вже є
  ступінь PhD. Пропозиція дійсна і для бажаючих з інших університетів України.

  Строк подачі документів триватиме орієнтовно до кінця травня 2022 го року, за
  уточненнями, також з усіма питаннями що стосується подачі документів на участь в
  програмах допомоги, прохання звертатися в телеграм канал  “Українсько-Японського
  Центру” УЯЦ (за номером `+38-099-000-70-50`) або електронною поштою ([uajc@kpi.ua](mailto:uajc@kpi.ua)).

  Більш детальну інформацію, посилання на інформацію подачі документів можна
  знайти на сайті  “Українсько-Японського Центру”  (UAJC) за посиланнями зі сторінки
  Interfm, сторінки НПО Краяни, чи в інтернет просторі.

  - [Головна сторінка  Українсько-Японський Центр  (UAJC)](https://uajc.kpi.ua/)
  - [Київський політехнічний інститут імені Ігоря Сікорського]( https://uajc.kpi.ua/)
  - [Посилання на ФБ сторінку](https://www.facebook.com/uajc.kpi.ua/)
