---
title: evacuee.helpful_advises.title
---
markdown:

  ## Послуги з перекладу

  Багатомовний кол-центр ORJ надає послугу безкоштовного (до кінця травня з ймовірним продовженням терміну) перекладу для українців, які знайшли притулок в Японії. Послуга надається дистанційно через додаток Skype. Якщо Ви не володієте японською мовою, але Вам потрібно запитати щось японською або проконсультуватися там, де немає підтримки українською мовою, зверніться до багатомовного кол-центру ORJ. Переклади українською мовою надаються у будні з 12 до 16, англійською мовою --- цілодобово без вихідних. Щоб скористатися послугою зателефонуйте за номером `050-5806-9641` скажіть оператору ``“Україна”`` і він з’єднає Вас с перекладачем. Детальніше про послугу дивіться посилання [на сайті]( https://www.press-osi.com/report/20220405/) кол-центр ORJ

  ---

  ## Центр психологічної та моральної допомоги українцям

  - Український центр спілкування в Токіо (ウクライナ交流センター）

    - Працює у вівторок та п’ятницю 10:00-16:00, суботу 12:00-15:00
      - Адреса:
        м.Токіо, Шібуя-ку, Шібуя 3-9-10 KDC будівля Шібуя-біру, 1й поверх
       (〒150-0002 東京都渋谷区渋谷 3-9-10 KDC 渋谷ビル 1 階)
      - Тел.: 050-3612-7559 (укр. та яп. мова)
      - email: [ukraine@mhea.or.jp](mailto://ukraine@mhea.or.jp)
      - Посилання на [місце знаходження](https://www.idear.co.jp/school/school-info/?id=486#access)
