---
title: evacuee.documents.insurance
---

markdown:

  Вартість медичного обслуговування у Японії буде меншою, якщо  зареєструватись в системі Національного медичного страхування. Подати заяву та оформити медичну страховку можна відразу після оформлення прописки. Обидві реєстрації відбуваються в найближчому муніципальному офісі.
  Зареєстровані в системі Національного медичного страхування сплачують лише 20% або 30% вартості лікування.
  Крім того, громадяни віком від 40 років зобов'язані оформити страхування довгострокового догляду (так званий кайго хокен). Якщо особам старшого віку знадобиться догляд, вони зможуть отримати послуги за 10% від вартості.

   Більш детальну інформацію можна дізнатись [зі сторінки](https://www.moj.go.jp/isa/support/fresc/01_00252.html) Міністерства закордонних справ Японії «Українцям які проживають в Японії»
