---
layout: page
title: evacuee.ja_language.title
---

h2 Уроки японської мови для початківців

p Державна телекомпанія NHK записала і продовжує записувати цикл відеопрограм з вивчення японської мови для іноземців. Цього року вперше з'явився цикл відео українською мовою.

= link_to "Уроки японської від NHK", "https://www3.nhk.or.jp/nhkworld/uk/ondemand/program/video/easyjapanese/?type=tvEpisode&", class: "btn btn-success"
