---
title: evacuee.study_japanese.exams.title
layout: page
---

markdown:

  При подачі заявки на роботу часто виникає питання наявності сертифікату про рівень володіння японською мовою.

  # JLPT
  Назва іспиту на отримання сертифікату – 日本語能力試験 (にほんごのうりょくしけん）, англійською – Japanese-Language Proficiency Test (JLPT),  українською – Кваліфікаційний іспит на знання японської мови. В залежності від країни, JLPT відбувається 1 або 2 рази на рік. В Японії тест проходить 2 рази на рік: влітку --- у першу неділю липня та взимку --- у першу неділю грудня.

  День іспиту співпадає у всіх країнах. Заявку на проходження іспиту потрібно подати у визначений період. Початок прийому заявок за три з половиною місяці до іспиту. Завершують прийом заявок за 3 місяці до іспиту.

  Чому JLPT такий поширений?

  В разі успішного складання іспиту, учасник отримує сертифікат, який підтверджує його рівень і визнається у всьому світі, в тому числі в Японії. Вважайте, що для вступу в університети необхідно складати інші іспити.

  JLPT має 5 рівнів складності: починаючи від найпростішого N5, N4, N3, N2 до найскладнішого N1.

  Інформацію англійською мовою про іспити, їх розклад, а також подати заявку на іспит  можна безпосередньо на сторінці JLPT за посиланням:

  - [Кваліфікаційний іспит на знання японської мови (JLPT)](https://www.jlpt.jp/e/about/levelsummary.html)
  - Щоб зареєструватися на іспит, спочатку треба створити свій аккаунт «MyJLPT ID».
  Прочитати докладніше про процес реєстраціі можна [за посиланням](https://www.jlpt.jp/e/application/domestic_index.html)

  ---

  # Іспит JPT

  JPT це назва іспиту на отримання сертифікату –-- 日本語能力試験 (にほんごのうりょく※しけん）, англійською –-- Japanese Proficiency Test (JPT), українською –-- Кваліфікаційний іспит на знання японської мови (JPT). Цей тест в основному для ділових людей, іноземців, які вивчають японську мову. JPT (Japanese Proficiency Test) має на меті об’єктивно оцінити рівень розуміння японської мови в повсякденному житті та в бізнесі. Тест можна скласти як в Японії так і в інших країнах. Тест JPT відбувається практично кожного місяця, в залежності від міста.

  Іспит JPT відбувається подібно до англійського TOEIC®, у форматі  запитань, 100 запитань на аудіювання та 100 запитань на розуміння читання. В разі успішного складання іспиту, учасник отримує сертифікат з відповідною кількістю балів, який підтверджує його рівень і визнається у всьому світі, в тому числі в Японії. Вважайте, що для вступу  в університети необхідно складати інші іспити.

  ---

  # В чому різниця між JLPT та JPT?

  - JLPT має 5 рівнів складності: починаючи від простішого N5, N4, N3, N2, N1 .
  - Натомість JPT, як і TOEIC® оцінюється за допомогою балів (від 10 до 990 балів).

  Відповідно до анкетного опитування учасників тесту JPT було виявлено, що ті, хто склав тест на знання японської мови (JLPT) найвищий за рівнем тест N1, отримали середній та вищий бал з JPT(від 500 до 990 балів), ніж ті, хто склав N2 і N3.
   Оцінка балів JPT дозволяє проводити більш точніше оцінювання знань, тому ви можете відслідковувати покращення своїх мовних навичок.
   Крім того, JLPT можна здавати лише двічі на рік, натомість JPT - 12 разів на рік, тож можливостей скласти іспит більше.

  Інформацію англійською мовою про іспити, їх розклад, а також подати заявку на іспит  можна безпосередньо на сторінці JPT за посиланням: [Кваліфікаційний іспит на знання японської мови (JPT)](https://www.jptest.jp/en/about/)
