---
title: evacuee.helpful_advises.payphone.title
layout: page
---

markdown:

  Якщо Ви обрали життя без мобільного зв'язку, але треба терміново комусь зателефонувати, Ви завжди можете скористатися громадськими телефон-автоматами. Вони працюють від монет вартістю 10 та 100 йен. За раз можна покласти в автомат 5 монет вартістю 10 йен та 4 монети вартістю 100 йен. Однієї монети також достатньо для того, щоб набрати номер та почати розмову. Потім монети можна додавати під час розмови. Є також так звані телефонні картки, які можна придбати у цілодобових магазинах дрібної торгівлі. Скористатися телефон-автоматом дуже просто. Візьміть слухавку, покладіть в автомат монети або вставте картку та наберіть номер. Телефонувати можна на звичайні та мобільні номери, з деяких автоматів можна також робити міжнародні дзвінки.

  Термінові дзвінки до служб порятунку за надзвичайних обставин безкоштовні. Візьміть слухавку, натисніть велику червону кнопку та наберіть необхідний номер.

  - 110 - виклик поліції
  - 118 - зв'язок з береговою охороною Японії щодо нещасних випадків на морі
  - 119 - виклик швидкої, пожежної служби та служби порятунку

  Під час великих стихійних лих бувають випадки, коли всі дзвінки з громадських телефонів безкоштовні.
