---
title: evacuee.pets.title
layout: page
---

markdown:
  Якщо Ви знайшли притулок в Японії зі своїми домашніми улюбленцями, то скоріш за все вже знаєте про строгу процедуру ввозу домашніх тварин в Японію та необхідний карантин по прильоту. Якщо самотужки Вам важко сплатити витрати на карантин, або Вам необхідна допомога в спілкуванні з службою карантину тощо, зверніться до [Peace Winds Japan](https://peace-winds.org/activity/ukraine/21307).

  Крім того компанія медичного страхування домашніх тварин [Anicom](https://www.anicom.co.jp/) оголосила про надання безкоштовного лікування та щеплень для домашніх тварин українців, які знайшли притулок зі своїми улюбленцями в Японії. Надання послуг відбувається в лікарнях групи Аніком. Перелік та адреси лікарень можна знайти на сайті Аніком. Подати заяву на безкоштовне ветеринарне обслуговування можна на сайті Аніком.

  Посилання на випуск новин компанії Anicom [ англійською ](https://www.anicom.co.jp/news-release/2022/20220419-2/) та [японською](https://www.anicom.co.jp/news-release/2022/20220419/)
