---
layout: page
title: evacuee.work.primedelica.title
---
markdown:

  # Загальні положення

  ## Віза

  Якщо у людини все ще короткострокова віза, ми допомагаємо у зміні її на довгострокову (1 рік), яка дозволяє працевлаштування в Японії.

  *Подавання візи не прив'язане до місця проживання особи, тому що у районі місця  працевлаштування та проживання є місцеві відділи міграційної служби.

  ## Гуртожиток

  Після візових процедур, ми заселяємо майбутніх працівників до гуртожитку. Частину виплат за гуртожиток бере на себе компанія, а частину потрібно виплачувати самостійно + комунальні послуги. Усе необхідне для проживання з побутової техніки надає компанія.

  ## Контракт

  Потім на офісі заповнюємо усі необхідні документи для працевлаштування з повним поясненням та перекладом. Докладно зупиняємось на кожному пункті з роз'ясненнями.

  Якщо усе подобається і немає ніяких заперечень, підписуємо контракт на 2 місяці. На робочому місці дивляться, як людина працює. Якщо вона згідно з правил виконує свої обов’язки, не запізнюється, не пропускає роботу і керівництво задоволене, то продовжують контракт ще на 2 місяці. Знову приглядають за новим персоналом і якщо все добре, наступний контракт підписується вже на 6 місяців зі змогою продовження ще на пів року або рік.

  ## Робота

  Працевлаштування у харчовій промисловості передбачає прискіпливе відношення до гігієни та зовнішнього виду. Люди з татуюванням на видному місці до роботи не допускаються. Також, що стосується чоловіків, потрібно бути завжди с чистим обличчям.

  На промисловості виробляють сендвічі, готові обіди та десерти. Куди саме поставлять людину, вже буде вирішувати місцеве керівництво на фабриці.

  - Між заводом та гуртожитком кожен день курсує автобус компанії.
  - Оскільки працевлаштування офіційне, компанія надає страховий поліс.
  - Два вихідних на тиждень, по 8 годин робочий день без урахування перерви.

  ## Без паніки

  Оскільки наша страхова компанія є гарантом працевлаштовуючого усю відповідальність за нього ми беремо на себе. А це означає, що людина завжди буде під нашою опікою та наглядом. Вона завжди може звернутись до офісу, якщо виникла якась проблема як на місці роботи, так і за її межами.

  Також компанія розуміє, що у багатьох українців труднощі з грошима і може надавати щотижневі виплати на проживання у сумі до 10 000 єн взявши зобов'язання їх повернення після початку отримання заробітної плати.

  ---

  # Гуртожиток

  Компанія орендує помешкання у районі  Homigaoka, Toyota, Aichi. Орендує помешкання двох типів ---  однокімнатні та двокімнатні. Обидва типи помешкання облаштовані для комфортного проживання та обладнані побутовою технікою ---  кондиціонер, пральна машина, мікрохвильова піч, газова плита, холодильник, обідній стіл та стільці, фіранки та тюлі.

  Також купуємо по необхідності набір «футону з шістьма елементами» на кожну особу   (16,000єн). (за бажання можна цією послугою не користуватись).

  Інтернет не проведений, потрібно буде самостійно (ми допоможемо) заключати договір з телекомунікаційною компанією.

  Сплата комунальних платежів цілком за проживаючою особою.

  - Оренда однокімнатної квартири : 46,000єн  / міс. (можливо орендувати та проживати удвох)
  - Оренда двокімнатної квартири : 66,000єн  / міс. (можлива оренда як на одну так і на дві особи )

  (*) _Ціни можуть змінюватись в залежності від умов орендодавця, уточнюйте на момент заселення._


  Від місця проживання курсує автобус до місця роботи. Не зважаючи з якої години початок роботи та її закінчення, ранкова або нічна зміна, завжди буде транспорт, який вас буде відвозити або додому або до роботи.

  Поблизу є супермаркет, а від найближчої станції 1.2км.

img src="/assets/images/primedelica/dormitory.png"
img src="/assets/images/primedelica/rooms.png"
