---
title: evacuee.helpful_advises.psychological_help.title
layout: page
---

markdown:

  - Український центр спілкування в Токіо (ウクライナ交流センター）

    - Працює у вівторок та п’ятницю 10:00-16:00, суботу 12:00-15:00
      - Адреса:
        м.Токіо, Шібуя-ку, Шібуя 3-9-10 KDC будівля Шібуя-біру, 1й поверх
       (`〒150-0002 東京都渋谷区渋谷 3-9-10 KDC 渋谷ビル 1 階`)
      - Тел.: 050-3612-7559 (укр. та яп. мова)
      - email: [ukraine@mhea.or.jp](mailto://ukraine@mhea.or.jp)
      - Посилання на [місце знаходження](https://www.idear.co.jp/school/school-info/?id=486#access)
