---
layout: page
title: evacuee.regions.title
---
p На цій сторінці зібрана інформація про допомогу евакуйованим з України за регіонами Японії.

p = link_to "Токіо", "tokyo.html" , class: "btn btn-success"
p = link_to "Йокогама", "yokohama.html" , class: "btn btn-success"
p = link_to "Осака", "osaka.html" , class: "btn btn-success"
