---
layout: page
title: evacuee.regions.title
---
p На цій сторінці зібрана інформація про допомогу евакуйованим з України за регіонами Японії.n Переважно інформація надається про домомогу місцевими владами та муніципалітетами міст.

- regions = { "tokyo" => "Токіо",
  "yokohama" => "Йокогама",
  "osaka" => "Осака",
  "saitama" => "Сайтама",
  "aichi" => "Aїчі",
  }

- regions.keys.sort.each do |file|
  p = link_to regions[file], file+".html", class:  "btn btn-success"
