---
layout: page
title: evacuee.regions.saitama
---

markdown:

  Допомога в префектурі Сайтама

  В місті Сайтама можна отримати консультації українською мовою з питань побуту, житла, навчання, працевлаштування тощо.

  Консультації можна отримати з понеділка по суботу з 9 до 16 години безпосередньо в мерії або за телефоном `048-887-1506` . Консультації можна отримати за попереднім записом, відправивши електронного листа за адресою [iec@stib.jp](mailto:iec@stib.jp)

  [Детальніше про підтримку в місті Сайтама](https://www.city.saitama.jp/jp/sc/ukraine.html) --- сайт японською мовою та посилання на державий сайт з українсьими ресурсами.
