---
title: evacuee.regions.saitama
---

markdown:

  ## Допомога в префектурі Сайтама

  В місті Сайтама можна отримати консультації українською мовою з питань побуту, житла, навчання, працевлаштування тощо.

  Консультації можна отримати з понеділка по суботу з 9 до 16 години безпосередньо в мерії або за телефоном `048-887-1506` . Консультації можна отримати за попереднім записом, відправивши електронного листа за адресою [iec@stib.jp](mailto:iec@stib.jp)

  [Детальніше про підтримку в місті Сайтама](https://www.city.saitama.jp/jp/sc/ukraine.html) --- сайт японською мовою та посилання на державий сайт з українсьими ресурсами.

  ---

  ### м. Токородзава, префектура Сайтама

  Мерія міста Токородзава в префектурі Сайтама надає підтримку українцям, які знайшли або шукають притулок в цьому місті. Надається одноразова фінансова допомога у розмірі `100,000 єн`, а також за необхідності соціальна виплата раз на місяць у розмірі приблизно `70,000 єн` протягом півроку. Йде підготовка для надання безкоштовного муніципального житла, наразі готується 5 квартир. За консультацією щодо цієї підтримки чи по іншим питанням, звертайтесь до мерії міста Токородзава за телефоном `04-2998-9046`.

  Мерія міста також шукає волонтерів-перекладачів.

  [Додаткова інформація](https://www.city.tokorozawa.saitama.jp/iitokoro/enjoy/bunkakyoyo/kokusaikoryu/Ukrainian.html)
