---
title: Атмосферна школа (Україна)
layout: page
---

markdown:

  Інформація для тих, хто зацікавлений у можливості здобуття української освіти з подальшим отриманням свідоцтва про освіту державного зразка, знаходячись за кордоном.

  ТОВ "Атмосферна школа" є ліцензованим закладом освіти, якому надано право проводити зарахування, навчання, оцінювання, у тому числі державну підсумкову атестацію здобувачів освіти, у дистанційній формі та який видає свідоцтво про освіту державного зразка. Весь освітній процес відбувається на електронній платформі школи.

  Школа надає дітям змогу отримувати українську освіту високої якості без відвідування очної школи та забезпечувати безперервний навчальний процес для усіх здобувачів освіти незалежно від місця фактичного проживання.

  У рамках реалізації інноваційного проекту “Атмосферна школа” стала єдиним закладом освіти і в Україні, що отримав офіційне право на перерахування оцінок без додаткової атестації, отриманих під час навчання українських дітей в закордонних школах. Це дозволило школі сформувати освітній пакет під назвою «З Україною в серці», який передбачає вивчення в Атмосферній школі лише українського компоненту дисциплін, а саме: української мови, літератури, історії, географії (у тих класах, де вивчається географія України) та мистецтва (у тих класах, де вивчається мистецтво України). Оцінка з решти загальноосвітніх предметів (математика, іноземна мова, фізика, хімія тощо) виставляється шляхом перезарахування із закордонної школи за умови надання відповідної довідки.

  За більш детальною інформацією про діяльність школи можна ознайомитися [за посиланням](https://www.atschool.com.ua/), а також, звернувшись до контактної особи –-- заступника директора з розвитку Атмосферної школи Симчича Захара, тел.: `+38067-538- 53-77` (всі месенджери), e-mail: [z.symchych@ensof-group.com](z.symchych@ensof-group.com).

  Дистанційна школа для учнів 1-11 класів,  [Атмосферна школа](www.atschool.com.ua).
