---
title: evacuee.study_japanese.title
---

markdown:

  ## Загальна інформація про вивчення японської мови іноземцями в Японії
  _(для тих, хто не навчєються в мовній школі чи університеті)_

  ---

  Вивчати японську мову можна безкоштовно чи за символічну плату. В кожному місті загалом у муніципалітетах є міжнародні асоціації (国際交流協会/Kokusai kyouryu kyoukai). При таких центрах, а також при суспільних центрах (コミュニティーセンター/Community center) діють курси японської мови.

  В таких центрах можна отримати як консультації, підтримку та допомогу,  так і детальну інформацію про доступні курси японської мови та записатись на них.

  Інтенсивність навчання може бути різною. Як 1-2 рази на тиждень так і кожен день, тільки у вихідні, чи тільки в робочі дні. Загалом такі курси безкоштовні та не мають вікових обмежень. Можливо знадобиться оплатити матеріали для навчання, книжки тощо.

  Звертайтесь безпосередньо до наведених вище центрів в своєму місті. Іінформацію про центри та безкоштовні курси японської мови можна отримати у найближчому до Вас муніципалітеті.

  ---

  # Уроки японської мови для початківців

  ## 1. Телеуроки від теле компанії NHK

  Державна телекомпанія NHK записала і продовжує записувати цикл відеопрограм з вивчення японської мови для іноземців. Цього року вперше з'явився цикл відео українською мовою.

= link_to "Уроки японської від NHK", "https://www3.nhk.or.jp/nhkworld/uk/ondemand/program/video/easyjapanese/?type=tvEpisode&", class: "btn btn-success btn-wrap"

hr

h2 2. Ресурси для вивчення мови від Міністерства освіти, культури, спорту, науки та технологій Японії

markdown:

  За [повідомленням](https://www.facebook.com/embassyofjapaninukraine/posts/1863247660535785) [Посольства Японії в Україні](https://www.facebook.com/embassyofjapaninukraine/) у соціальній мережі Фейсбук, Міністерство освіти, культури, спорту, науки та технологій Японії ([文部科学省 MEXT](https://www.facebook.com/mextjapan)) створило спеціальну сторінку про навчання та вивчення японської мови в Японії для тих, хто евакуювався з України до Японії.

  Інформація доступна також і українською мовою, тож, доступна для людей без знання японської мови.

= link_to "Ресурси з вивчення японської від MEXT", "https://www.mext.go.jp/ukraine_helpdesk.html", class: "btn btn-success btn-wrap"

hr class="thicker"

h2 3. Допомога у вивченні японської мови від Організації підтримки українських студентів

markdown:

  > *Ми, [JSUS (Japanese Supports for Ukrainian Students)](https://www.jsus.info/), — група однодумців з шкіл японської мови, які співпрацюють з недержавними огранізаціями дла надання безоплатного навчання японської мови громадянам України, тимчасово переміщеним в Японію. По-перше, ми плануємо підготувати біля 100 вчителів задля наступної підтримки проекту.  Для переміщених осіб, що знайшли притулок у Японії, дуже важливо забезпечити рівень проживання в Японії, а також оволодіння японською мовою та професійними навичками. Ми вирішили заснувати цей проєкт для того, щоб надати посильну допомогу українським студентам. Перевага буде надаватися тим, хто може виступити в ролі наставників для майбутніх переміщених осіб.*

  Анкета для людей, які бажають переїхати до Японії, вивчити японську мову та налагодити своє життя тут за [цим посиланням](https://www.jsus.info/ua/zapit-na-spivbesidu)

= link_to "Анкета для запиту на співбесіду", "https://www.jsus.info/ua/zapit-na-spivbesidu", class: "btn btn-success btn-wrap"

hr class="thicker"

h2 Курси дистанційного навчання «Marugoto/まるごと» e-learning.
hr

markdown:
  Бажаючим навчатись дистанційно потрібно зареєструватись [на сайті](https://minato-jf.jp/#about-course) та пройти тест на рівень знань, чи просто вибрати потрібний Вам рівень.

  Навчання безкоштовне та не має вікових обмежень. Для початківців можна почати з вивчення японської абетки (хірагани та катакани), чи разом з цим почати найпростіший рівень А-1. Для фанів японського аніме та манга також пропонується оригінальний курс японської мови для початківців.

= link_to "Інформація про курс Marugoto (японською)", "https://minato-jf.jp/#about-course", class: "btn btn-success btn-wrap"

hr class="thicker"

h2 Онлайн школа  НПО Онрітанзу ( NPO おんりたんず).
hr

markdown:
  Тут можуть навчатись як початківці з найпростішого рівня N5, так і ті хто вже досить добре володіє японською мовою, до найвищого рівня N1. В школі навчаються іноземці більше ніж 20 різних національностей. Навчання повністю безкоштовне та проходить вечорами з понеділка по п‘ятницю на платформі Зум.

  Для реєстрації потрібно відправити консультаційний запит зі сторінки, чи подзвонити за номером `090-3655-5417`.

= link_to "Сторінка НПО Онрітанзу (японською)", "https://onritans1.webnode.jp/", class: "btn btn-success btn-wrap"

hr class="thicker"

markdown:

  Онлайн уроки японської мови від **Міжнародної Школи Сакура в Токіо**. Уроки надаються з 5 вересня по 24 жовтня. Надсилайте звернення або запити на електронну пошту [tashiro@tsis.jp](mailto:tashiro@tsis.jp) або зателефонуйте `042-400-6007`.

  [повідомлення у FB](https://www.facebook.com/245225202345645/posts/pfbid02ncj9PgSVyaqZgioQTpsfhZSSZtigacXj9et1oHiwvo6yaQA9conjvRri75AWCFeil/)

  ---

  ###Міжнародна школа японської мови Сакурагаока

  пропонує заняття з основ японської мови для українців. Школа знаходиться в районі Шібуя. Надаються як індивідуальні заняття, так і заняття у невеликих групах, заняття проводять і для дорослих і для дітей. Крім занять, школа надає допомогу з перекладом та заповненням різних документів японською мовою. Звертайтеся за телефоном `080-4467-7042` або на електронну пошту [ciubotaru@itojuku.co.jp](mailto:ciubotaru@itojuku.co.jp)

  [https://www.sakura-school.com/en/corner4529/pg84677.html](https://www.sakura-school.com/en/corner4529/pg84677.html)

  ---

  ### Курси японської мови IRODORI (Іродорі),

  _“Японська для життя в Японії”,  українською мовою_

  **Інститут Японської Мови (The Japan Foundation Japanese-Language Institute)** пропонує онлайн курси японської мови IRODORI/ Іродорі, “Японська для життя в Японії”, українською мовою. За посиланням можна завантажити не тільки PDF файли з поясненнями українською, а й MP3 файли для прослуховування діалогів тощо. Вивчати та прослуховувати матеріал можна у зручний для вас час, та без завантаження файлів, безпосередньо зі сторінки курса також. В уроках розіграні життєві діалоги, наприклад такі як знаходження у школі, діалоги з вчителем, дітьми тощо, які дуже допоможуть знедавна проживаючим у Японії дітям адаптуватися у японській школі. Курс буде корисним, як дітям, так і дорослим початкового рівня знань японської мови.

  Ознайомитись з курсом, завантажити навчальний матеріал чи позайматись можна за посиланням безпосередньо зі сторінки курса.

  - [Презентація курсу англійською](https://www.irodori-online.jpf.go.jp/ )
  - [Завантажити навчальний матеріал чи позайматись (українська/японська)](https://www.irodori.jpf.go.jp/ua/?fs=e&s=c)


  ### Додаток з вивчання японської мови Monoxer

  Адаптивне запам'ятовування з додатком на телефон Monoxer - програма, що допоможе вивчати японську мову, підлаштовуючись під ваш особистий темп. Вони використовують технології штучного інтелекту, щоб зробити одне й те саме завдання для різних людей унікальним та адаптивним. Навчатися можна як вже за наявними матеріалами, так і за власноруч завантаженими.
  Наприкінці кожного завдання вам буде доступна інфографіка стосовно прогресу запам’ятовування, що оновлюється в реальному часі.
  Наразі наявні матеріали по хірагана, катакана, ієрогліфам з різних рівнів та базові вислови.
  Якщо вас зацікавив додаток і хочете дізнатися про нього більше, [зареєструйтеся в формі](https://forms.gle/5przMwd5PwupcpDJ9).

  * [Телеграм канал (українською)](https://t.me/monoxer_ukr)
  * [Додатково про додаток (японською)](https://corp.monoxer.com/)
