---
layout: page
title: evacuee.study_japanese.title
---

h2 Уроки японської мови для початківців

p Державна телекомпанія NHK записала і продовжує записувати цикл відеопрограм з вивчення японської мови для іноземців. Цього року вперше з'явився цикл відео українською мовою.

= link_to "Уроки японської від NHK", "https://www3.nhk.or.jp/nhkworld/uk/ondemand/program/video/easyjapanese/?type=tvEpisode&", class: "btn btn-success"

hr class="thicker"

h2 Ресурси для вивчення мови від Міністерства освіти, культури, спорту, науки та технологій Японії

markdown:

  За [повідомленням](https://www.facebook.com/embassyofjapaninukraine/posts/1863247660535785) [Посольства Японії в Україні](https://www.facebook.com/embassyofjapaninukraine/) у соціальній мережі Фейсбук, Міністерство освіти, культури, спорту, науки та технологій Японії ([文部科学省 MEXT](https://www.facebook.com/mextjapan)) створило спеціальну сторінку про навчання та вивчення японської мови в Японії для тих, хто евакуювався з України до Японії.

  Інформація доступна також і українською мовою, тож, доступна для людей без знання японської мови.

= link_to "Ресурси з вивчення японської від MEXT", "https://www.mext.go.jp/ukraine_helpdesk.html", class: "btn btn-success"
