---
title: evacuee.regions.support_r
layout: page
---

markdown:
  Центр допомоги біженцям в Японії Support-R проводить консультації українською мовою з різноманітних питань з будь-яких куточків країни. Отримати консультацію можна без попереднього запису, зателефонувавши за номером `080-6240-6148`. Консультації проводять по вівторках та п’ятницях з 10:00 до 12:00
  [https://support-r.org/](https://support-r.org/ )
