---
title: evacuee.study_in_japan.temple.title
---

markdown:
  Безкоштовне навчання та проживання + стипендія в Токіо для українських студентів!

  Американський університет Temple пропонує безкоштовне навчання для 10 українських студентів-бакалаврів.

  Документи на програму можна подати до 15-го червня, 2022 року.

  Університет також допомагає студентам з візою та за безкоштовно пропонує квиток у Японію.

  Інформація (англійською мовою) про програму доступна на [сторінці](https://www.tuj.ac.jp/ukraine)

  Подати заявку можна [тут](https://448734.extforms.netsuite.com/app/site/crm/externalleadpage.nl?compid=448734&formid=508&h=AAFdikaI6epgBH-Pb_XAdV_CzXwI0_0I13uR5uQdO7-0GTrmNQc&_ga=2.74830674.1952012509.1653871461-1056296676.1631759514&_gl=1%2A10oe1bg%2A_ga%2AMTA1NjI5NjY3Ni4xNjMxNzU5NTE0%2A_ga_SWHSQQF0DM%2AMTY1NDA3MTg3OC42MjUuMS4xNjU0MDcxOTAyLjA.&redirect_count=1&did_javascript_redirect=T)!
