---
title: evacuee.helpful_advises.transportation.title
---

markdown:

  ### IC картка або транспортна картка

  #### (1) Основні функції
  Транспортні IC-картки (Suica чи Pasmo) можна використовувати для оплати проїзду у потягах і автобусах різних компаній. Ось основні функції IC картки:

  * Заздалегідь поклавши гроші на картку IC, вам не потрібно витрачати час на придбання квитків, що спростить поїздку на громадському транспорті.
  * Придбати картку можна на станціях в квиткових автоматах і касах.
  * При сплаті IC карткою ціна за проїзд трохи нижча, ніж ціна квитків придбаних за готівку на станціях.

  #### (2) Іменна IC картка

  * Картка з іменем користувача.
  * При реєстрації картки обов’язково потрібно вказати ім’я, номер телефону, дату народження, стать.
  * Якщо ви загубите іменну IC* картку, її можна буде поновити.

  #### (3) Анонімна IC картка

  * Ім'я користувача не вказано.
  * Якщо ви загубите картку, її неможливо буде поновити.

  #### (4) Вартість IC картки

  * Картка коштує приблизно 500 ієн.
  * Гроші за IC-картку будуть відшкодовані, якщо повернути IC-картку у касу на станції або зареєструвати власну картку у додаток PASMO чи Mobile Suica на телефоні.

  ### Як користуватися мобільним додатком IC?

  Додаток функціонує точно так само, як фізична IC картка, але без клопоту поповнення рахунку на станціях. Ви можете використовувати мобільних додаток для IC картки в магазинах, деяких ресторанах і торгових автоматах з підтримкою IC карток.

  ### Suica or Pasmo?

  Найбільш використовувані IC картки – це Suica та Pasmo. Їх випускають різні компанії, але використання практично однакове, на відміну від мобільних аналогів. З огляду на те, що Mobile Suica був представлений раніше, аніж інші мобільні додатки, тому більшість людей користується додатком Mobile Suica.
  У 2020 році PASMO нарешті випустила мобільну версію своєї системи IC-карток, надавши користувачам альтернативу. Сама програма є простішою з точки зору зручності використання завдяки простому дизайну.

  #### Як використовувати свій мобільний телефон як IC-картку?
  Варто зазначити, що більшість моделей смартфонів Android дозволяють одночасно функціонувати лише одному додатку. Крім того, ці програми не сумісні з міжнародними моделями телефонів Android (навіть тими, які були придбані в Японії) без функції FeliCa або Osaifu-Keitai.

  Моделі iPhone від iPhone 8 і новіших версій сумісні з програмою Mobile Suica та PASMO. Просто переконайтеся, що у вас додана принаймні одна картка у вашому гаманці Apple Pay.

  - Крок перший: завантажте та налаштуйте програму
  - Крок другий: перекажіть кошти на свою мобільну картку IC
  - Крок третій: піднаведіть телефон на пристрій для зчитування карт.

  Коли ваша мобільна IC картка буде налаштована та поповнена, все, що вам потрібно зробити, це навести її на пристрій для зчитування карт. Програму не потрібно відкривати, а телефон не потрібно розблокувати. Термінал автоматично прочитає вашу IC-картку.

  #### Найкращі навігаційні програми у Японії
  Міський транспорт у Японії дуже зручний, але іноді використання метро та поїздів JR в Японії може бути дуже заплутаним. Ми хочемо поділитися інформацією  про найбільш рекомендовані корисні програми англійською мовою для перевірки транзиту поїзда, а також пошуку маршрутів метро та поїздів JR, щоб зробити ваші поїздки більш зручними.

   1. **Google Maps** ---  є одним із найвідоміших додатків для транспорту (в Японії та в усьому світі). Навіть громадяни Японії використовують цю програму для повсякденних подорожей.
  Google Maps простий у використанні, а час відправлення та прибуття поїздів дуже точний. Якщо ви користуєтеся Android, ця програма вже може бути встановлена на вашому мобільному пристрої.

  2. **Japan Travel** —-- це додаток, яким керує компанія Navitime в Японії. Це також корисна програма, коли мова йде про маршрути сполучення. Як і карти Google, додатком Japan Travel легко користуватися.
  У цій програмі також є інші послуги, які можуть бути корисними під час перебування у Японії, як-от блоги тощо.

  3. **Norikae Annai -Japan Transit-**
  Ця програма була створена та запущена компанією Jorudan Co. Ltd. Як і попередні дві навігаційні програми, вона також корисна та проста у використанні.
   Насправді це одна з найбільш завантажуваних програм в Японії, і навіть місцеві жителі використовують цю програму в повсякденному житті. Вона містить детальну інформацію про те, як здійснити трансфер залізницею або літаком в Японії, а також має розклад, де ви можете розрахувати час поїздки.

  4. **バス後何分** --- дуже корисний додаток, якщо Ви користуєтеся автобусами. Можна легко та швидко перевірити, скільки хвилин залишилося до прибуття автобусу.
