---
title: evacuee.translation_services.title
---

markdown:

  Багатомовний кол-центр ORJ надає послугу безкоштовного (до кінця травня з ймовірним продовженням терміну) перекладу для українців, які знайшли притулок в Японії. Послуга надається дистанційно через додаток Skype. Якщо Ви не володієте японською мовою, але Вам потрібно запитати щось японською або проконсультуватися там, де немає підтримки українською мовою, зверніться до багатомовного кол-центру ORJ. Переклади українською мовою надаються у будні з 12 до 16, англійською мовою --- цілодобово без вихідних. Щоб скористатися послугою зателефонуйте за номером `050-5806-9641` скажіть оператору ``“Україна”`` і він з’єднає Вас с перекладачем. Детальніше про послугу дивіться посилання [на сайті]( https://www.press-osi.com/report/20220405/) кол-центр ORJ
