---
title: Книжки українською мовою
layout: page
---

markdown:

  “Проект Надія” від Японської Міжнародної Ради Дитячих Книжок надає можливість дітям біженців мати доступ до книжок. До проекту було додано багато книжок українською мовою. Дуже важливо не тільки вивчати мову країни, в якій перебуваєш, але й підтримувати навики рідної мови. Тікаючи від війни, мало хто з батьків покладе у валізу книжки, тому це дуже добра нагода поповнити домашню бібліотеку своїх діточок. Детальніше про проект, перелік книжок та як їх можна отримати, дивіться [за посиланням](https://jbby.org/jbby_kibo_present)
