---
layout: page
title: help_ukrainians.visa
---
p Для отримання візи у Японію вам потрібно буде заповнити форми подані нижче.

h2 Форма

a href="/assets/files/visa_forms/form.pdf" форма для заповнення (PDF)

h2 Гарантійний лист

a href="/assets/files/visa_forms/guarantee_letter.pdf" Гарантійний лист (PDF)
