---
title: volunteer.title
---
<p><%= t "volunteer.intro" %></p>

<%= link_to t("volunteer.register") , "/volunteer/register.html", class: "btn btn-black btn-margin" %>
<%= link_to t("volunteer.expenses") , "/volunteer/expenses.html", class: "btn btn-black btn-margin" %>
