---
title: evacuee.work.title
---

markdown:
  ## Пошук роботи в Японії

  ### Dopomoga.jp

  Проєкт Dopomoga.jp було створено для підтримки українців, які внаслідок війни в країні бажають переїхати або вже знаходяться в Японії.

  На сайті Dopomoga.jp доступна низка вакансій та роботодавців, а також інформація про безкоштовні курси з японської мови.

  Ви можете безпосередньо зв'язатися з майбутнім роботодавцем, або звернутися за допомогою в соцмережах або через форму зворотнього зв'язку за посиланням. <a href="https://www.dopomoga.jp/contacts" target="_blank" rel="noopener noreferrer nofollow">https://www.dopomoga.jp/contacts</a>

  * Посилання на сайт: <a href="https://www.dopomoga.jp" target="_blank" rel="noopener noreferrer nofollow">https://www.dopomoga.jp</a>
  * Телеграм канал: <a href="https://t.me/dopomoga_japan" target="_blank" rel="noopener noreferrer nofollow">https://t.me/dopomoga_japan</a>

  ### Hello Work (ハローワーク)

  Для пошуку роботи Ви можете звернутися до місцевого центру
  працевлаштування **Hello Work (ハローワーク)** у будь якому регіоні
  Японії, навіть якщо там не оголосили про допомогу українцям.

  - Перелік центрів та їх адреси дивіться за [посиланням (PDF)](https://www.mhlw.go.jp/content/000637894.pdf)

  Зазвичай ці центри збирають інформацію та мають бази даних
  працедавців по тому району, в якому центр знаходиться. Багато
  центрів, особливо у великих містах, мають англомовних працівників,
  які допомагають іноземцям.

  - Перелік центрів працевлаштування, в яких є консультації іноземними мовами (англійська тощо), дивіться за [посиланням (PDF)](https://www.mhlw.go.jp/content/000592865.pdf)

  Також можливо отримати консультацію англійською мовою щодо працевлаштування за телефоном `0800-919-290`.

  - [Телефонні консультації щодо працевлаштування (PDF)](https://www.mhlw.go.jp/content/000673000.pdf)

  ### Курси японської мови

  Крім того центри працевлаштування надають можливість вивчення
  японської мови, допомагають правильно скласти резюме, вивчити
  японський діловий етикет та пояснюють закони, що стосуються праці, ---
  все, що потрібно іноземцю для успішного працевлаштування в Японії.

  Курси японської мови для тих, хто шукає роботу, поділяються на 3
  рівні, від початкового до вищих рівнів, кожен курс --- 100
  годин. Проводяться у будні та у вихідні.

  За більш детальною інформацією зверніться до Японського Міжнародного
  Центру Взаємодії за телефоном `03-6838-2723`.  Детальніше про курси
  японської мови від **Японського Міжнародного Центру Взаємодії** дивіться
  за [посиланням](https://jice.org/tabunka/en/course/)

  ---

h1 Додаткові ресурси

a<> href="https://docs.google.com/forms/d/e/1FAIpQLSdQ0UdLMd_tFeU4LAY9nAUC_rA1UFuyG6gkNKdMlE5uIj5IxA/viewform?usp=sf_link" class="btn btn-success btn-wrap" Анкета від Empower

= link_to t("evacuee.work.kowa.menu"), "kowa.html", class: "btn btn-success btn-wrap"
