---
title: evacuee.helpful_advises.babysitting.title
layout: page
---

markdown:

  Для батьків в Токіо відкрилась безкоштовна послуга догляду за дітьми “Поппінз”. Розташований садочок недалеко від станції Хіро та українського посольства. Це гарна нагода для дитини погратися та поспілкуватися з іншими дітьми, а для батьків - трішки відпочити. За необхідності є також опція догляду за дитиною вдома за умови, що дитина розуміє англійською мовою. Подробиці та про те, як скористатися послугою, дивіться [за посиланням](https://www.poppins.co.jp/familycare/wp/wp-content/uploads/2022/06/325a453cd13c0e2979dec47732002624.pdf?fbclid=IwAR3YS8PTITMR8CFI1MKXrJDjbswT6W-DH1ikXaPlxOKU6dUY2sLnWsGQuUU&fs=e&s=cl).
