---
title: evacuee.helpful_advises.barber_nexus.title
layout: page
---

i = t("evacuee.helpful_advises.barber_nexus.lead")

markdown:
  Бажаєте зробити нову зачіску чи освіжити стрижку?

  Мережа чоловічих перукарень NEXUS, більшість яких знаходяться в місті Токіо та префектурі Чіба, практично у всіх своїх перукарнях надає безкоштовні послуги перукаря евакуйованим з України. У _будні дні_ безкоштовно можуть постригтися _чоловіки та діти віком до 18ти років_. 4 салони знаходяться у префектурі Чіба, 4 у місті Токіо та 1 салон у префектурі Хього.

  Мережа салонів NEXUS --- чоловічі перукарні
  Записатись можна [за посиланням](https://nexus.salon/)(щоб знайти найближчий салон, проскрольте до низу до Salon list)

  У одному з салонів, а саме у салоні __Шінураясу__  по четвергах виключно обслуговують жінок також. Попередній запис обов’язковий. З собою потрібно взяти посвідку біженця з України. [Посилання на салон Шінураясу](https://handscrew.cep-hd.jp/shinurayasu/)_(безкоштовні послуги перукаря для жінок)_.  Записатись можна за посиланням натиснувши кнопку резервації або за телефоном `047-306-5400`_(попередній запис)_.

  Україномовна підтримка можлива тільки через пристрій за допомогою авто-перекладача. Щоб уникнути непорозумінь, керівництво мережею перукарень NEXUS перед стрижкою запропонує вам заповнити анкетування українською мовою. В анкеті такі питання як, чи мити вам волосся, чи немає у вас алергії тощо.
