---
title: evacuee.helpful_advises.metro_day_ticket.title
layout: page
---

markdown:

  Чи ви чули про проїзний квиток на лінії метро дійсний 24 години, з правом використання всіх 9ти ліній метро та правом входу і виходу стільки разів, скільки вам потрібно, і ціна квитка при цьому не збільшується.

  Використання як метро, так і інших видів публічного транспорту в Японії обходиться недешево. Так що ж робити якщо вам потрібно багато їздити на протязі дня, чи то на екскурсії, чи то у пошуці роботи тощо…

  Якщо у вас така ситуація що вам потрібно багато їздити користуючись саме лініями метро, можна скористатись проїзним квитком по спеціальній ціні.

  Одноденний квиток на дорослого на цілий день коштує 600 єн, дитячий 300 єн. Придбати такий квиток можна в той же день у любому автоматі для придбання квитків на любій зі станцій метро,  або в офісах крім станцій Накано, Ніші Фунабаші, Шібуя. Квиток вступає в дію з момента першого використання і дійсний до останнього поїзда цього ж дня.

  Але навіть у невикористаного квитка є термін дії, тому будьте обережні. Чи можна повернути цей проїзний квиток? Повернути можна, якщо ви їм ще не користувалися, але за квиток утримують 200 єн, тобто повернути всю суму грошей неможливо.

  Крім того існують дискаунт квитки для студентів, які коштують 300 єн, також з правом використання 24 години на будь-які лінії Токіо Метро. Окрім цього, Токійське метро пропонує спеціальні квитки для проїзду в аеропорти тощо, що зекономить вам гроші .

  Більш детальну  інформацію про проїзні квитки, їх різновиди тощо, можна прочитати англійською на [веб сторінці Tokio Метро](https://www.tokyometro.jp/lang_en/ticket/value/1day/index.html )
