---
title: evacuee.helpful_advises.psychological_help.title
---

markdown:

  ## Центр психологічної та моральної допомоги українцям

  - Український центр спілкування в Токіо (ウクライナ交流センター）

    - Працює у вівторок та п’ятницю 10:00-16:00, суботу 12:00-15:00
      - Адреса:
        м.Токіо, Шібуя-ку, Шібуя 3-9-10 KDC будівля Шібуя-біру, 1й поверх
       (`〒150-0002 東京都渋谷区渋谷 3-9-10 KDC 渋谷ビル 1 階`)
      - Тел.: 050-3612-7559 (укр. та яп. мова)
      - email: [ukraine@mhea.or.jp](mailto://ukraine@mhea.or.jp)
      - Посилання на [місце знаходження](https://www.idear.co.jp/school/school-info/?id=486#access)

  ---

  ## Психологічна допомога


  Японське товариство сертифікованих клінічних психологів запустило гарячу лінію для допомоги евакуйованим українцям. Люди, які телефонують на гарячу лінію, можуть спілкуватися з психологами українською, російською, англійською або японською мовами.

  Гаряча лінія доступна щосереди з 10:00 до 14:00 за місцевим часом.

  Сеанс триває приблизно 30 хвилин.

  Скористатися гарячою лінією можуть також люди, які надають підтримку евакуйованим, оскільки деякі з них, можливо, також виявлять бажання проконсультуватися з психологами. Послуга призначена лише для тих, хто перебуває в Японії.

  Номер телефону - `03-3813-9990`

  [Додаткова інформація (PDF)](http://www.jsccp.jp/userfiles/news/general/file/20220706154328_165708980880337.pdf)

  ---

  В Токіо і Йокогамі працює кабінет психологічної підтримки українців. Прийом проводиться безкоштовно --- до 5 сесій тривалістю 50 хвилин кожна. Прийом здійснюється як офлайн, так і онлайн. Запис на консультацію можна зробити [за посиланням](https://www.olhabalmen.com.ua/ua/).

  ---

  З будь-якого куточку Японії можна також звернутися на безкоштовну лінію підтримки українців в Японії Support-Ukr. Звернутися можна як з побутових питань, так і за психологічною підтримкою або просто поспілкуватися.

  Лінія працює по четвергам та п’ятницям з 10:00 до 12:00 (перевіряйте робочі дні та час на сайті організації)

  Номер телефону `080-6240-6148` [https://www.cinga.or.jp/2882/](https://www.cinga.or.jp/2882/).

  ---

  Асоціація іноземок Паруйон відкрила службу психологічної підтримки українців. Консультації безкоштовні та проводяться онлайн. Щоб надати заяву, зверніться за телефоном `080-4021-3005` або електронною поштою [mental_ukr@paruyon.com](mailto:mental_ukr@paruyon.com)
  [https://paruyon.com/ukrainian-counseling/](https://paruyon.com/ukrainian-counseling/)
